 
 
body{
    background-color: #8BA1BB;
    font-family: Arial;
}
p.catégorie{
    background-color: black;
    color:white;
    display: inline-block;
    margin-top: 40px;
    padding: 8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}
div.contenue{
    background-color:white;
    margin: 0px 10% 80px 10%;
    padding: 30px;

}
h1{
    text-align: center;
    margin-bottom: 16px;
}
p.description{
    text-align: center;
    max-width: 400px;
    display:inline-block;
    font-size: 14px;
}
div.description{
    text-align: center;
}
.center{
    text-align: center;
    width: 100%;

}
div.catégorie{
    margin-bottom: -18px;
    margin-top: 60px;
}
div.separateur{
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;

}
div.infos{
    position: relative;
}



table.infos {
    position: absolute;
    bottom:0;
    width: 100%;
    color:white;
    background-color: #6C829DC0;
    height: 80px;
    
  
}
table.infos td{
    text-align: center;
    font-size: 14px;
    vertical-align: top;
}
table.infos th{
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom: 8px;
    display: inline;
}
